---
BasedOnStyle: LLVM
IndentWidth: 4
AccessModifierOffset: -4
IncludeBlocks: Preserve
IndentPPDirectives: AfterHash
AllowShortFunctionsOnASingleLine: Empty
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
  AlignCompound: true
  PadOperators: true
AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
AlignConsecutiveBitFields:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
...
